.home-container {
  background: linear-gradient(180deg, #f2f1ee 25%, #8bc9e0 100%);
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.page-content{
  margin-top:50px;
}

.home-hero {
  font-family: "Poppins", sans-serif;
  color: #2c3e50;
  text-align: center;
  margin: 150px 0px 150px 0px;
}

.home-hero h1 {
  font-size: 3rem;
  margin: 0px;
}

.home-hero p {
  font-size: 1.2rem;    
}

.home-footer {
  text-align: center;
  margin: 100px 0px 50px 0px;
  font-size: 0.9rem;
  color:#777;
}

.funcionalidades-container {
  max-width: 1000px;
  margin: 0 auto;
}

.titulo {
  text-align: center;
  font-size: 32px;
  margin-bottom: 10px;
  color: #2c3e50;
}

.descricao {
  text-align: center;
  font-size: 18px;
  margin-bottom: 40px;
  color: #555;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

.about{
  margin: 100px 100px 10px 100px;
}

.contacto-container {
  max-width: 1300px;
  margin: 0 auto;
}