.pagina{
  display:flex;
  margin: 0px;
  padding: 0px;
}

.esquerda{
  width: 50%;
}

.imagem{
  width: 100%;        /* A imagem ocupa a largura total da div */
  height: 100%;       /* A imagem ocupa a altura total da div */
}

.direita{
  width: 50%;
  padding-right: 20px;
}

h1{
  text-align: center;
  font-size: 50px;
  margin-top: 60px;
}

h2{
  margin-left: 20px;
}

.inputs{
  padding: 20px;
}

input{
  border-radius: 20px;
  padding: 10px;
  border: solid 1px black;
  width: 100%;
}

select{
  border-radius: 20px;
  padding: 10px;
  border: solid 1px black;
  width: 110%;
}

.caixaNome{
  width: 100%;
}

.conjuntoInput{
  display: flex;
  gap: 20%;
}

.btn{
  width: 25%;
  border-radius: 20px;
  padding: 5px;
  border: none;
  margin-top: 50px;
  text-align: center;
  background-color: #1DADE2;
  color: white;
  font-size: 20px;
}

.botao{
  display: flex;
  justify-content: center;
}