.imagem{
  width: 100%;        /* A imagem ocupa a largura total da div */
  height: 100%;       /* A imagem ocupa a altura total da div */
  object-fit: cover;
}

/*css - Página de Registo*/
.pagina{
  display:flex;
  margin: 0px;
  padding: 0px;
  overflow-y: hidden;
}

.esquerda{
  width: 50%;
}

.direita{
  width: 50%;
  padding-right: 20px;
}

h1{
  text-align: center;
  font-size: 50px;
  margin-top: 60px;
}

.h2Registo{
  margin-left: 20px;
}

.inputs{
  padding: 20px;
}

input{
  border-radius: 20px;
  padding: 10px;
  border: solid 1px black;
  width: 100%;
}

select{
  border-radius: 20px;
  padding: 10px;
  border: solid 1px black;
  width: 110%;
}

.caixaNome{
  width: 100%;
}

.conjuntoInput{
  display: flex;
  gap: 20%;
}

.btn{
  width: 25%;
  border-radius: 20px;
  padding: 5px;
  border: 1px solid black;
  margin-top: 50px;
  text-align: center;
  background-color: #1DADE2;
  color: white;
  font-size: 20px;
}

.botao{
  display: flex;
  justify-content: center;
}

/*css - Página de Login*/

.paginaLogin{
  display:flex;
  height: 100vh; 
  overflow-y: hidden;
}

.esquerdaLogin{
  width: 50%;
  padding: 20px;  
}

.direitaLogin{
  width: 50%;
  height: 100vh;
}

.h1Login{
  text-align: center;
}

.inputsLogin{
  width: 50%;
}

.formularioLogin{
  margin-left: 80px;
}

/*css - Menu Principal*/



html, body {
  height: 100%;          /* Faz com que a altura da página ocupe 100% da tela */
  margin: 0;             /* Remove margens padrão */
  padding: 0;            /* Remove padding padrão */
}

body {
  background: linear-gradient(to bottom, #FFFFFF, #1DADE2);  /* Aplica o gradiente de fundo */
  height: 100%;          /* Garante que o body ocupe toda a altura do conteúdo */
}